GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://yt.naturalabs.io
ALLOWED_EMAIL_DOMAIN=naturalabs.io
ALLOWED_EMAIL_DOMAINS=naturalabs.io,clickbaitagency.com

GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_TAB=performance_leaderboard
